{{> common/include}}


<div>admin</div>


{{#if jsFiles}}
    {{#each jsFiles}}
        <script src="{{this}}"></script>
    {{/each}}
{{/if}}

{{#if cssFiles}}
    {{#each cssFiles}}
        <link rel="stylesheet" href={{this}}>
    {{/each}}
{{/if}}