<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/public/css/bootstrap.min.css">
<script src="/public/js/common/jquery.min.js"></script>
<script src="/public/js/common/lodash.min.js"></script>

<head>
    <title>My Site</title>
</head>

<body>
    <input type="text" name="" id="input">
</body>


</html>

<script>        
</script>